.form__body button{
    margin-top: 20px;
}

.form__login,
.form__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form__items > .item {
  display: grid;
  grid-template-rows: 30px 20px;
}

.form__login > .item {
  display: grid;
  grid-template-rows: 30px 20px;
}

.item > input {
  width: 200px;
}
