.header__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo img {
  width: 80px;
}

.header__nav{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4,150px);
}

.header__nav a {
  text-decoration: none;
  color: black;
}

.header__nav a:hover {
  color: rgb(234, 86, 165);
}

header{
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
