.header__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo img {
  width: 120px;
}

.header__nav{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4,150px);
}

.header__nav a {
  text-decoration: none;
  color: black;
}
